[Unit]
Description=Telegram bot 'Pronabud'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/pronabud
ExecStart=/usr/bin/python3 /opt/pronabud/main.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target